<article class="jumbotron- container">
	
	<header class="page-header-">
		<h1>О сайте <small> Sample eshop</small></h1>
	</header>
	<section>
		<h3><span class="glyphicon glyphicon-tags"></span> Главное</h3>
        <p>Пример совместного использования <a href="http://mustache.github.io/">Mustache</a> и <a href="http://rubyonrails.org/">Ruby on Rails</a> при разработке web приложений.</p>
		<p>Этот сайт представляет собой образец кода <span class="label label-info">ruby</span>, <span class="label label-default">html5</span>,  <span class="label label-default">css3</span>. Вы можете скачать исходный код и использовать его по своему усмотрению.</p>
		<p>Вы можете связаться со мной заполнив форму <a href="/contact">Контакт</a></p>
	</section>
	<aside>
		<h3><span class="glyphicon glyphicon-list-alt"></span> Компоненты</h3>
        <p>Приложение содержит следующие компоненты</p>
		<div class="row">
          <div class="col-lg-9">
            <ul class="nav- nav-pills- nav-stacked- list-inline">
				<li><a href="http://jquery.com/">JQuery</a></li>
				<li><a href="http://twitter.github.com/bootstrap/">Bootstrap</a></li>
                <li><i class="fa fa-firefox"></i> Firefox</li>
                <li><i class="fa fa-linux"></i> <a href="http://ubuntu.com"> Linux</a></li>
		    </ul>
          </div>  
        </div>  
	</aside>
	<footer>
      <h3><span class="glyphicon glyphicon-pencil"></span> Автор</h3>
      <p><h4><span class="label label-default">Артюх Сергей</span></h4></p>
      <p>Исходный код и документацию смотрите на <i class="fa fa-github"></i><a href="git://github.com/ghrabbit/sample-eshop-ror.git">домашней странице.</a></p>
	</footer>
</article>
