<html>
<head>
<title>jQuery Real Person Submission</title>
<style type="text/css">
.accepted { padding: 0.5em; border: 2px solid green; }
.rejected { padding: 0.5em; border: 2px solid red; }
</style>
</head>
<body>
<h1>jQuery Real Person Submission</h1>
{{{yield}}}
</body>
</html>
