<div class="text-info">
    <h5 class="panel-title">{{labels.language}}</h5>
</div>
<ul class="list-unstyled">
		<li><a class="navbar-link"  href="{{baseUrl}}/site/lang/en">{{langs.en}}</a></li>
                <li><a class="navbar-link"  href="{{baseUrl}}/site/lang/ru">{{langs.ru}}</a></li>
</ul>
