{{{formatMessage}}}
{{^formatMessage}}
<h1>Site#index</h1>
<h1>This is a mustache template</h1>
<p>Find me in <strong>app/templates/site/index.mustache</strong></p>
<p>Today's date is {{date}} </p>
{{/formatMessage}}

