<article class="jumbotron- container">
	
	<header class="page-header-">
		<h1>About <small>Sample eshop</small></h1>
	</header>
	<section>
		<h3><span class="glyphicon glyphicon-tags"></span> Main</h3>
        <p>An example of joint use of the <a href="http://mustache.github.io/">Mustache</a> and <a href="http://yiiframework.com/">Yii</a> when developing web applications.</p>
		<p>This website is a sample code of <span class="label label-info">ruby</span>, <span class="label label-default">html5</span>,  <span class="label label-default">css3</span>. You can download source code and use it at their discretion.</p>
		<p>You can contact me by filling out the form <a href="/contact">Contact</a></p>
	</section>
	<aside>
		<h3><span class="glyphicon glyphicon-list-alt"></span> Components</h3>
        <p>The app contains the following components</p>
		<div class="row">
          <div class="col-lg-9">
            <ul class="nav- nav-pills- nav-stacked- list-inline">
				<li><a href="http://jquery.com/">JQuery</a></li>
				<li><a href="http://twitter.github.com/bootstrap/">Bootstrap</a></li>
                <li><i class="fa fa-firefox"></i> Firefox</li>
                <li><i class="fa fa-linux"></i> <a href="http://ubuntu.com"> Linux</a></li>
		    </ul>
          </div>  
        </div>  
	</aside>
	<footer>
      <h3><span class="glyphicon glyphicon-pencil"></span> Author</h3>
      <p><h4><span class="label label-default">Artukh Sergey</span></h4></p>
      <p>Code source and more details see at <i class="fa fa-github"></i><a href="git://github.com/ghrabbit/sample-eshop-ror.git">home page.</a></p>
	</footer>
</article>
